.App {
  min-height: 50vh;
  width: 100%;
  height: 100%;
}
.weather-header {
  margin-left: 20px;
}

.weather-container {
  padding-left: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.weather-card {
  width: 170px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid darkgray;
}

.weather-icon {
  width: 100px;
  height: 100px;
}